body {
  background-color: rgb(250,250,250);
  color: rgb(30, 30, 30);
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
}

h1, h2, h3 {
  font-family: Roboto, sans serif;
}

h1 {
  color:#153b50;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 45px;
}

h2 {
  color: #739e82;
  font-size: 25px;
}

a {
  font-family: Roboto, sans serif;
  text-decoration: none;
  color: #775253;
  font-size: 16px
}

a:hover {
  font-family: Roboto, sans serif;
  color: #775253;
  font-weight: bold;
}

/*Custom design*/

.container {
  width: 700px;
  margin: 40px auto;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,.1);
  border-radius: 6px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.btn-grey {
  background-color: #6B72E1;
  color: white;
  font-family: 'Oswald', sans-serif;
  padding:15px 20px;
  border-radius: 4px;
}
.btn-grey:hover {
  background-color: rgb(150,150,150);
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
}


.list-inline #btn-instagram {
  color:#F56040;
}

.list-inline #btn-linkedin {
  color:#2867B2;
}

.list-inline #btn-facebook {
  color:#4267B2;
}


.list-inline #btn-instagram:hover {
  color:rgb(150,150,150)
}

.list-inline #btn-linkedin:hover {
  color:rgb(150,150,150)
}

.list-inline #btn-facebook:hover {
  color:rgb(150,150,150)
}

.img-portrait {
  border-radius: 3px;
}

.img-landscape {
  border-radius: 4px;
}

#introduction p{
  margin-bottom: 40px;
  font-size: 18px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 740px) {
  .container {
    width: 520px;
  }
}
@media (max-width: 560px) {
  .container {
    width: 400px;
  }
}






